
    <div class="flex items-center justify-center flex-col mt-5">
      <section class="max-w-2xl mx-auto bg-white">
        <header class="py-8 flex justify-center w-full">
          <a href="#">
            <img
              src="https://res.cloudinary.com/doxjowamc/image/upload/v1722602182/ppe26bcfnv8w2r1ohdvp.png"
              alt="website logo "
            />
          </a>
        </header>
        <div class="h-[200px] bg-[#365CCE] w-full text-white flex items-center justify-center flex-col gap-5">
          <div class="flex items-center gap-3">
            <div class="w-10 h-[1px] bg-white"></div>

            <div class="w-10 h-[1px] bg-white"></div>
          </div>
          <div class="flex flex-col gap-3">
            <div class="text-center text-sm sm:text-xl tracking-widest font-normal">
              THANKS FOR SIGNING UP!
            </div>
            <div class="text-xl sm:text-3xl tracking-wider font-bold capitalize">
              Verify your E-mail Address
            </div>
          </div>
        </div>
        <main class="mt-8 px-5 sm:px-10">
          <h2 class="text-gray-700 ">Hello John Deo,</h2>
          <p class="mt-2 leading-loose text-gray-600 ">
            Please use the following One Time Password(OTP)
          </p>
          <div class="flex items-center mt-4 gap-x-4">
            <p class="flex items-center justify-center w-10 h-10 text-2xl font-medium text-[#365CCE] border border-[#365CCE] rounded-md">
              7
            </p>
            <p class="flex items-center justify-center w-10 h-10 text-2xl font-medium text-[#365CCE] border border-[#365CCE] rounded-md">
              8
            </p>
            <p class="flex items-center justify-center w-10 h-10 text-2xl font-medium text-[#365CCE] border border-[#365CCE] rounded-md">
              7
            </p>
            <p class="flex items-center justify-center w-10 h-10 text-2xl font-medium text-[#365CCE] border border-[#365CCE] rounded-md">
              8
            </p>
          </div>
          <p class="mt-4 leading-loose text-gray-600">
            This passcode will only be valid for the next
            <span class="font-bold"> 2 minutes</span> . If the passcode does
            not work, you can use this login verification link:
          </p>
          <button class="px-6 py-2 mt-6 text-sm font-bold tracking-wider text-white capitalize transition-colors duration-300 transform bg-orange-600 rounded-lg hover:bg-orange-500 focus:outline-none focus:ring focus:ring-orange-300 focus:ring-opacity-80">
            Verify email
          </button>
          <p class="mt-8 text-gray-600">
            Thank you, <br />
            Infynno Team
          </p>
        </main>
        <p class="text-gray-500  px-5 sm:px-10 mt-8">
          This email was sent from{" "}
          <a
            href="mailto:sales@infynno.com"
            class="text-[#365CCE] hover:underline"
            alt="sales@infynno.com"
            target="_blank"
          >
            sales@infynno.com
          </a>
          . If you&apos;d rather not receive this kind of email, you can{" "}
          <a href="#" class="text-[#365CCE] hover:underline">
            unsubscribe
          </a>{" "}
          or{" "}
          <a href="#" class="text-[#365CCE] hover:underline">
            manage your email preferences
          </a>
          .
        </p>
        <footer class="mt-8">
          <div class="bg-gray-300/60 h-[200px] flex flex-col gap-3 justify-center items-center">
            <div class="text-center flex flex-col gap-2">
              <h1 class="text-[#365CCE] font-semibold tracking-wide text-lg">
                Get in touch
              </h1>
              <p

                class="text-gray-500"
              >
                +91 8849765094
              </p>
              <p
                class="text-gray-500"

              >
                meetvaghasiya3229@gmail.com
              </p>
            </div>
            <div class="flex items-center justify-center gap-3">
              <a href="#">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </div>
          </div>
          <div class="bg-[#365CCE] py-5 text-white text-center">
            <p class="mt-3 ">
              © {new Date().getFullYear()} TailwindTap. All Rights Reserved.
            </p>
          </div>
        </footer>
      </section>
    </div>
