<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
<head>
    <title>login</title>
</head>
<body>
<div id="content">

    <div class="grid grid-cols-12">

        <div class="col-span-4 md:col-end-2  lg:col-span-4 "></div>
        <div class="col-span-4 md:col-span-8 lg:col-span-4 ">
            <div class=" p-4 bg-white  border-t-4 border-blue-600  rounded-xl shadow dark:bg-gray-800 dark:border-gray-700">

                <form class="max-w-md mx-auto"
                      data-th-action="@{'/authenticate'}"
                      method="post"
                      novalidate
                >


                    <div>
                        <a href="/adminlogin"> <h1 class=" text-2xl text-center mb-5">login </h1> </a>
                    </div>


                    <div th:if="${param.error}" class="text-center text-red-600 my-3">invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="text-center text-green-600 my-3">You have been logged out.</div>


                    <!--                    email field -->
                    <div class="mb-3">
                        <label
                                for="email"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Email</label
                        >
                        <input
                                name="email"
                                type="email"
                                id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@flowbite.com"
                                required
                        />
                        <p

                                class="text-red-600 px-1 py-2"
                        ></p>
                    </div>


                    <!--                    password -->
                    <div class="mb-5">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" id="password" name="password"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               required
                        />
                        <p

                                class="text-red-600 px-1 py-2">
                        </p>
                    </div>


                    <!--                    button -->
                    <div class="mb-1 flex justify-center space-x-3">

                        <button type="submit"
                                class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Login
                        </button>


                        <button type="reset"
                                class="focus:outline-none text-white bg-orange-500 hover:bg-orange-500 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">
                            Reset
                        </button>
                    </div>

                </form>
                <a data-th-href="@{'/oauth2/authorization/google'}">
                    <div class="mb-5 mt-5 flex justify-center space-x-3">
                        <button class=" items-center bg-white dark:bg-blue-900 my-5  flex justify-center border border-gray-300 rounded-lg shadow-md px-6 py-2 text-sm font-medium text-gray-800 dark:text-white hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="800px" height="800px"
                                 viewBox="-0.5 0 48 48" version="1.1"><title>Google-color</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Color-" transform="translate(-401.000000, -860.000000)">
                                        <g id="Google" transform="translate(401.000000, 860.000000)">
                                            <path d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24"
                                                  id="Fill-1" fill="#FBBC05"></path>
                                            <path d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333"
                                                  id="Fill-2" fill="#EB4335"></path>
                                            <path d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667"
                                                  id="Fill-3" fill="#34A853"></path>
                                            <path d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24"
                                                  id="Fill-4" fill="#4285F4"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <span>  Continue with Google </span>
                        </button>

                    </div>
                </a>

                <a data-th-href="@{'/oauth2/authorization/github'}">
                    <div class="mb-5 mt-5 flex justify-center space-x-3">
                        <button class=" items-center  bg-white dark:bg-gray-600 my-5  flex justify-center border border-gray-300 rounded-lg shadow-md px-6 py-2 text-sm font-medium text-gray-800 dark:text-white hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">

                           <img class="w-5   h-5 mr-3" src="https://cdn.icon-icons.com/icons2/2428/PNG/512/github_black_logo_icon_147128.png">
                            <span>  Continue with github </span>
                        </button>

                    </div>
                </a>

            </div>


        </div>

    </div>


</div>
<script>
    console.log("signup page");
</script>
</body>
</html>